[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
docutils = "*"
alagitpull = "*"
Sphinx = ">=2.0.0"
isort = "*"
flake8 = "*"
pytest = "*"
libtmux = {path = ".",editable = true}
black = "==19.3b0"
sphinx-issues = "*"
pytest-cov = "*"

[packages]

[requires]
python_version = "3"
