[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
pytest = "==3.6.2"
docutils = "==0.14"
alagitpull = "==0.0.21"
releases = {git = "https://github.com/tony/releases.git", ref = "future-releases-uri-config"}
Sphinx = "==1.7.5"
isort = "==4.3.4"
"flake8" = "==3.5.0"
vulture = "==0.27"
sphinxcontrib-napoleon = "==0.6.1"
