[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
docutils = "==0.14"
releases = {git = "https://github.com/tony/releases.git",ref = "future-releases-uri-config"}
alagitpull = "==0.0.22"
sphinxcontrib-napoleon = "==0.7"
Sphinx = "==2.0.1"
isort = "==4.3.18"
flake8 = "==3.7.7"
pytest = "==4.5.0"
libtmux = {path = ".",editable = true}

[packages]

[requires]
python_version = "3"
