[tool.black]
skip-string-normalization = true

[tool.poetry]
name = "libtmux"
version = "0.8.2"
description = "scripting library / orm for tmux"
license = "MIT"
authors = ["Tony Narlock <tony@git-pull.com>"]

[tool.poetry.dependencies]
python = "~2.7 || ^3.5"

[tool.poetry.dev-dependencies]
### Docs ###
sphinx = [
  {version="<2", python="<3"},
  {version="*", python=">=3"}
]
recommonmark = {version = "^0.6.0"}
alagitpull = {version = "~0.1.0"}
sphinx-issues = {version = "^1.2.0"}

### Testing ###
pytest = [
  {version="<4.7.0", python="<3"},
  {version="*", python=">=3"}
]
pathlib2 = {version="<2.3.5", python="<3"}  # Untangle pytest peer-dependency
pytest-rerunfailures = "*"
pytest-mock = [
  {version="<3.0.0", python="<3"},
  {version="*", python=">=3"}
]

### Coverage ###
codecov = "*"
coverage = "*"
pytest-cov = [
  {version="<2.10.0", python="<3"},
  {version="*", python=">=3"}
]

### Format ###
black = {version="==19.10b0", python="^3.6"}
isort = [
  {version="<5", python="<3.6"},
  {version="*", python=">=3.6"}
]

### Lint ###
flake8 = "*"

### Deploy ###
twine = "*"

[tool.poetry.extras]
docs = ["sphinx", "recommonmark", "sphinx-issues", "alagitpull"]
test = ["pytest", "pathlib2", "pytest-rerunfailures", "pytest-mock"]
coverage = ["codecov", "coverage", "pytest-cov"]
format = ["black", "isort"]
lint = ["flake8"]
deploy = ["twine"]
