div#changelog > div.section > ul > li > p:only-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    #fork-gh img {
        display: none;
    }
}

table.docutils {
   background-color: #fafbfc;
   border: 0;
}

table.docutils td, table.docutils th {
   border: 0;
}

table.docutils pre {
  background-color: rgba(239, 242, 244, .75);
}

pre {
  background-color: #fafbfc;
  border-left: 5px solid #558abb;
  font-size: 0.75em;
}

div.seealso, div.note {
  background-color: #fafbfc;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}

div.seealso {
  border-left: 5px solid #8abb55;
}

div.note {
  border-left: 5px solid #bb5557;
}

code {
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
  color: #24292e;
  font-size: 85%;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

code::before, code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
