div#changelog > div.section > ul > li > p:only-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    #fork-gh img {
        display: none;
    }
}

table.docutils {
   background-color: #fafbfc;
   border: 0;
}

table.docutils td, table.docutils th {
   border: 0;
}

table.docutils pre {
  background-color: rgba(239, 242, 244, .75);
}

pre {
  background-color: #fafbfc;
  border-left: 5px solid #558abb;
  font-size: 0.75em;
}
